
httpx>=0.25.0
openai>=1.0.0
gunicorn>=21.0.0
python-dotenv>=1.0.0

Flask>=3.0.0,<4.0.0
python-telegram-bot>=20.7,<21.0

pip~=26.1.2
attrs~=26.1.0
distro~=1.9.0
DynamicMachine~=1.0.4
the-new-hotness~=1.4.1
pyOpenSSL~=26.3.0
cryptography~=49.0.0
redis~=7.4.1